/* home section start */

.nav-font{
  font-family: 'Finlandica', sans-serif;
  font-weight: 400;
  color:rgb(36, 45, 73)
}
.navlinks{
  color: rgb(36, 45, 73) !important;
}
.brand{font-size: 35px;font-weight: 600;}
.list-group{background: none;}
.list-group-item:first-child{padding: 9px 9px 10px 0 ;}
.contact {
  background-color: orange;
  padding: 5px 30px;
  color: white !important;
  border-radius: 10px;
  border: 1px solid orange;
}
.contact:hover {
background-color: white;
border: 1px solid orange;
color: orange !important
}
.subtitle{
  color: gray;
  font-size: 20px;
}
.personal-details{
margin-top: 60px;
}
.list-group{border: none !important; color: rgb(36, 45, 73)}

.my-image{border-radius: 0 60px;}
/* home section end */

/* Technology section start*/
.tech{
  margin-top: 150px;
  margin-bottom: 50px;
  color: rgb(36, 45, 73);
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  }
.subTitle{
  color: rgb(36, 45, 73);
  font-size: 35px;
  font-weight: 400;
}


.custom-class {
  display: block;
  box-shadow: rgba(240, 14, 138, 0.747) 0px 0px 90px -12px;
  transition: transform .3s ease-out;
  cursor: pointer;
  /* box-shadow: 0px 19px 60px rgb(0 0 0/8%) */
}
.custom-class:hover {
  transform: translate(0, -20px);
}
.custom-thumb {
  display: block;
  box-shadow: rgb(255, 217, 0) 0px 0px 90px -12px;
  transition: transform .3s ease-out;
  cursor: pointer;
  /* box-shadow: 0px 19px 60px rgb(0 0 0/8%) */
}
.custom-thumb:hover{
  transform: translate(0, -20px);
}
.tech-card {
  margin: auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform .3s ease-out;
  cursor: pointer;
}
.tech-card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transform: translate(0, -20px);
}
  /* Technology end */




  /* experience start */
  .experience{margin-top: 100px;margin-bottom: 100px;}
  .exe{ 
    align-items: center;
    display: flex;
    justify-content: center;
    margin:auto;
    position: relative;
  }
  .year{font-size: 20px;color:rgb(36, 45, 73); font-weight: 400}
  .count{
    font-size: 30px;
    font-weight: 400;
    margin-top: 7px;
    position: absolute;
  }
  .portfolio-card{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
  }
  .error{color:red}

  /* experience end */

  /* contact start */
  .submit {width: -webkit-fill-available}
/* contact end */


/* social details start */
.email{font-size: 25px;color:white;margin-top:20px;font-weight: 600;}
.social{position: relative;height: 300px;}
.ocean {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #015871;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 100%;
  height: 198px;
  /* animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
  /* animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; */
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  /* animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite; */
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}
/* social details end */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  /* height: 100%; */
   background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  /* overflow: hidden; */
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 575.98px) {
  .custom-class, .custom-thumb {
    display: none;
  }
  .email{display: none;}
 }



 /* scroll bar */
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36, 45, 73); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 45, 73); 
}